<% content_for(:page_title) do %>
  <%= t('.page_title') %>
<% end %>

<%= render 'nsm/claims/claim_summary', { claim:, claim_summary: } %>
<%= render 'nsm/claims/claim_nav', { claim: claim, current_page: 'cis_summaries' } %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">
      <%= t('.heading') %>
    </h2>

    <% cis_summary.table.each do |section| %>
      <%= govuk_summary_list(card: { title: section[:title] }) do |table|
              section[:data].each do | field |
                table.with_row do |row|
                  row.with_key(text: field[:title])
                  row.with_value(text: field[:value])
                end
              end
      end %>
    <% end %>

    <%=
      head = core_cost_summary.headers
      rows = core_cost_summary.table_fields.map(&:values)
      govuk_table(
        first_cell_is_header: true,
        caption: t('.assessment'),
        head:,
        rows:
      )
    %>
  </div>
</div>
