<% title t('.page_title') %>

<% step_header(path: payments_requests_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(@form_object) %>
    <%= step_form @form_object do |f| %>
      <%= f.govuk_radio_buttons_fieldset :claim_type, legend: { size: 'xl', text: t('.heading') } do %>
        <%= f.govuk_radio_button :claim_type, Payments::ClaimType::NSM, label: { text: t('payments.requests.type.non_standard_mag' ) } %>
        <%= f.govuk_radio_button :claim_type, Payments::ClaimType::NSM_SUPPLEMENTAL, label: { text: t('payments.requests.type.non_standard_mag_supplemental' ) } %>
        <%= f.govuk_radio_button :claim_type, Payments::ClaimType::NSM_AMENDMENT, label: { text: t('payments.requests.type.non_standard_mag_amendment' ) } %>
        <%= f.govuk_radio_button :claim_type, Payments::ClaimType::NSM_APPEAL, label: { text: t('payments.requests.type.non_standard_mag_appeal' ) } %>
      <% end %>
      <%= f.continue_button(primary: :save_and_continue, secondary: false) %>
    <% end %>
  </div>
</div>
