<% title t('.page_title') %>

<% step_header(path: payments_requests_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(@form_object) %>
    <%= step_form @form_object do |f| %>
      <%= f.govuk_radio_buttons_fieldset :claim_type, legend: { size: 'xl' } do %>
        <%= f.govuk_radio_button :claim_type, Payments::ClaimType::NON_STANDARD_MAGISTRATE, label: { text: t('payments.requests.type.non_standard_mag' ) } %>
        <%= f.govuk_radio_button :claim_type, Payments::ClaimType::ASSIGNED_COUNSEL, label: { text: t('payments.requests.type.assigned_counsel' ) } %>
      <% end %>
      <%= f.continue_button(secondary: false) %>
    <% end %>
  </div>
</div>
