<h3 class="govuk-heading-m"><%= payment.date_completed %></h3>
<%=
  caption = payment.title
  head = payment.cost_summary.headers
  rows = payment.cost_summary.table_fields.map(&:values)
  foot = payment.cost_summary.formatted_summed_fields.map do |key, value|
    value[:text] = (tag.span(t(".accessible.#{key}"), class: 'govuk-visually-hidden') + value[:text]) if key != :name && value.present?
    value
  end

  govuk_table(
    first_cell_is_header: true,
    head:,
    rows:,
    foot:
  ) do |table|
    table.with_caption(size: 's', text: caption)
  end
%>
<p class="govuk-body-m">
  <strong><%= t(".payment_type") %>:</strong> <%= payment.request_type %><br>
  <strong><%= payment.date_received_label %>:</strong> <%= payment.date_received %><br>
  <strong><%= t(".caseworker") %>:</strong> <%= payment.caseworker %>
</p>
