<% title t(".page_title",laa_reference: @claim_details.laa_reference) %>

<span class="govuk-caption-xl">
  <%= @claim_details.firm_name %>
</span>
<h1 class="govuk-heading-xl">
  <%= @claim_details.laa_reference %>
<h1>
<p class="govuk-body-m">
  <strong><%= t(".allowed") %>: </strong><%= @claim_details.current_total %>
<p>
<p class="govuk-body-m">
  <strong><%= t(".claim_type") %>: </strong><%= @claim_details.claim_type %>
  <br>
  <strong><%= t(".last_updated") %>: </strong><%= @claim_details.last_updated %>
<p>
<nav class="moj-sub-navigation" aria-label="Sub navigation" id="claim_nav">
<ul class="moj-sub-navigation__list">
  <li class="moj-sub-navigation__item">
    <%=
      link_to t(".payment_request"),
      payments_requests_path(id: @claim_details.id, current_page: "payment_request"),
      class: "moj-sub-navigation__link", "aria-current": (@current_page == "payment_request" ? "page" : nil)
    %>
  </li>
  <li class="moj-sub-navigation__item">
    <%=
      link_to t(".claim_details"),
      payments_requests_path(id: @claim_details.id, current_page: "claim_details"),
      class: "moj-sub-navigation__link", "aria-current": (@current_page == "claim_details" ? "page" : nil)
    %>
  </li>
</nav>

<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title"><%= t(".payment_request") %></h2>
  <ul class="govuk-tabs__list" id="tabs">
    <% @claim_details.payment_requests.each do |request| %>
      <li class="govuk-tabs__list-item <%= "govuk-tabs__list-item--selected" if @selected_payment.id == request.id %>">
        <%= link_to(request.date_completed, "/payments/requests/#{@claim_details.id}?payment_id=#{request.id}") %>
      </li>
    <% end %>
  </ul>
  <div class="govuk-tabs__panel">
    <%= render 'payment_details', payment: @selected_payment %>
  </div>
</div>

