<% title t(".page_title",laa_reference: @claim_details.laa_reference) %>

<span class="govuk-caption-xl">
  <%= @claim_details.firm_name %>
</span>
<h1 class="govuk-heading-xl">
  <%= @claim_details.laa_reference %>
<h1>
<p class="govuk-body-m">
  <strong><%= t(".allowed") %>: </strong><%= @claim_details.current_total %>
<p>
<p class="govuk-body-m">
  <strong><%= t(".claim_type") %>: </strong><%= @claim_details.claim_type %>
  <br>
  <strong><%= t(".last_updated") %>: </strong><%= @claim_details.last_updated %>
<p>
<nav class="moj-sub-navigation" aria-label="Sub navigation" id="claim_nav">
<ul class="moj-sub-navigation__list">
  <li class="moj-sub-navigation__item">
    <%=
      link_to t(".payment_request"),
      "/payments/requests/#{@claim_details.id}",
      class: "moj-sub-navigation__link", "aria-current": (@current_page == "payment_request" ? "page" : nil)
    %>
  </li>
  <li class="moj-sub-navigation__item">
    <%=
      link_to t(".claim_details"),
      "/payments/requests/#{@claim_details.id}?current_page=claim_details",
      class: "moj-sub-navigation__link", "aria-current": (@current_page == "claim_details" ? "page" : nil)
    %>
  </li>
  <li class="moj-sub-navigation__item">
    <%=
      link_to t(".related_payments"),
      "/payments/requests/#{@claim_details.id}?current_page=related_payments",
      class: "moj-sub-navigation__link", "aria-current": (@current_page == "related_payments" ? "page" : nil)
    %>
  </li>
</nav>

<% if @current_page == "payment_request" %>
  <%= render "payment_request", claim_details: @claim_details, selected_payment: @selected_payment %>
<% elsif @current_page == "claim_details" %>
  <%= render "claim_details", claim_details: @claim_details %>
<% elsif @current_page == "related_payments" %>
  <%= render "related_payments", claim_details: @claim_details %>
<% end %>
