<% title t('.page_title') %>

<% if @claim_details.session_answers['submission_id'].blank? %>
  <% step_header(path: previous_decision_step_path) %>
<% else %>
  <% step_header(path: nsm_claim_decision_path(@claim_details.session_answers['submission_id'])) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      <%= t('.heading') %>
    </h1>
  </div>
</div>

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title"><%= t('.claim_details') %></h2>
    <% unless @claim_details.session_answers['submission_id'].present? %>
      <ul class="govuk-summary-card__actions">
        <li class="govuk-summary-card__action">
          <%= link_to t('.change'), payments_steps_claim_types_path %>
          <span class="govuk-visually-hidden"><%= t('.claim_details') %></span>
        </li>
      </ul>
    <% end %>
  </div>
  <div class="govuk-summary-card__content">
    <%= govuk_summary_list(rows: @claim_details.card_rows) %>
  </div>
</div>

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title"><%= t('.cost_summary') %></h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <% if @claim_details.session_answers['submission_id'].present? %>
          <%= link_to t('.change_profit'), edit_payments_steps_submission_allowed_costs_path %>
        <% else %>
          <%= link_to t('.change'), @cost_summary.change_link %>
        <% end %>
        <span class="govuk-visually-hidden"><%= t('.cost_summary') %></span>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
      <%=
        caption = t('.claimed_and_allowed_costs')
        head = @cost_summary.headers
        rows = @cost_summary.table_fields.map(&:values)
        foot = @cost_summary.formatted_summed_fields.map do |key, value|
          value[:text] = (tag.span(t(".accessible.#{key}"), class: 'govuk-visually-hidden') + value[:text]) if key != :name && value.present?
          value
        end
        govuk_table(
          first_cell_is_header: true,
          caption:,
          head:,
          rows:,
          foot:
        )
      %>
  </div>
</div>

<div class="govuk-button-group">
  <%= form_for @form_object, url: {controller: '/payments/requests', action: :create }, method: :post do |f| %>
  <%= f.continue_button(primary: :save_and_continue, secondary: false) %>
  <% if @claim_details.session_answers['submission_id'].blank? %>
    <%= govuk_link_to( t(".cancel_payment_request"), payments_requests_path) %>
  <% else %>
    <%= govuk_link_to( t(".cancel_payment_request"), nsm_claim_claim_details_path(@claim_details.session_answers['submission_id'])) %>
  <% end %>
<% end %>
</div>
