<% current ||= (@current_section || infer_claim_section || :open) %>

<section class="govuk-service-navigation" aria-label="Service information" data-module="govuk-service-navigation" data-govuk-service-navigation-init="">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <span class="govuk-service-navigation__service-name">
        <%= link_to t('nsm.service_name'), nsm_root_path,
                      class: 'govuk-service-navigation__link', id: 'header-service-name' %>
      </span>
      <nav class="govuk-service-navigation__wrapper" aria-label="Main service navigation">
        <ul id="navigation" class="govuk-service-navigation__list">
          <% if policy(Claim).assign? %>
            <li class="govuk-service-navigation__item <%= 'govuk-service-navigation__item--active' if current == :your %>">
              <%= link_to t('layouts.primary_navigation.your_claims'), your_nsm_claims_path, class: 'govuk-service-navigation__link', 'aria-current': ('page' if current == :your) %>
            </li>
          <% end %>
          <li class="govuk-service-navigation__item <%= 'govuk-service-navigation__item--active' if current == :open %>">
            <%= link_to t('layouts.primary_navigation.all_claims'), open_nsm_claims_path, class: 'govuk-service-navigation__link', 'aria-current': ('page' if current == :open) %>
          </li>
          <li class="govuk-service-navigation__item <%= 'govuk-service-navigation__item--active' if current == :closed %>">
            <%= link_to t('layouts.primary_navigation.assessed_claims'), closed_nsm_claims_path, class: 'govuk-service-navigation__link', 'aria-current': ('page' if current == :closed) %>
          </li>
          <% if FeatureFlags.search.enabled? %>
            <li class="govuk-service-navigation__item <%= 'govuk-service-navigation__item--active' if current == :search %>">
              <%= link_to t('layouts.primary_navigation.search'), new_nsm_search_path, class: 'govuk-service-navigation__link', 'aria-current': ('page' if current == :search) %>
            </li>
          <% end %>
          <% unless request.path == root_path %>
              <li class="govuk-service-navigation__item service-switch-navigation__item">
                  <%= link_to t('assess_a_crime_form.switch_service'), root_path, class: 'govuk-link--no-visited-state' %>
              </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</section>
