<% title t('.page_title') %>
<div class="moj-page-header-actions">
    <div class="moj-page-header-actions__title">
        <h1 class="govuk-heading-xl">
            <%= t('.page_title') %>
        </h1>
    </div>

    <div class="moj-page-header-actions__actions">
        <div class="moj-button-group moj-button-group--inline">
            <%= govuk_button_link_to(
                t(".add_new_user"),
                new_user_path,
                secondary: true
            ) %>
        </div>
    </div>
</div>

<table class="govuk-table" data-module="moj-sortable-table" aria-describedby="page-title">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <%= table_header_with_form("name",
                                       "users.index.table",
                                       0,
                                       users_path,
                                       @sort_by,
                                       @sort_direction) %>


            <%= table_header_with_form("email",
                                       "users.index.table",
                                       1,
                                       users_path,
                                       @sort_by,
                                       @sort_direction) %>


            <%= table_header_with_form("role",
                                       "users.index.table",
                                       2,
                                       users_path,
                                       @sort_by,
                                       @sort_direction) %>

            <%= table_header_with_form("service",
                                       "users.index.table",
                                       3,
                                       users_path,
                                       @sort_by,
                                       @sort_direction) %>
        </tr>
    </thead>

    <tbody class="govuk-table__body app-task-list__items">
        <% users.each do |user| %>
            <tr class="govuk-table__row app-task-list__item">
                <td class="govuk-table__cell">
                    <%= govuk_link_to(user.display_name, edit_user_path(user.id)) %>
                </td>
                <td class="govuk-table__cell">
                    <%= user.email %>
                </td>
                <td class="govuk-table__cell">
                    <% if user.deactivated_at.present? %>
                        <%= t('.user_disabled') %>
                    <% elsif user.roles.any? %>
                        <%= user.roles.first.role_type.capitalize %>
                    <% else %>
                        <%= t('.no_role') %>
                    <% end %>
                </td>
                <td class="govuk-table__cell">
                    <% if user.roles.any? && user.deactivated_at.nil? %>
                        <% service = user.roles.first.service || '-' %>
                        <% if service == "all" %>
                            <%= service.capitalize %>
                        <% else %>
                            <%= service.upcase %>
                        <% end %>
                    <% else %>
                        -
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<%= render 'shared/pagination', pagy: pagy, item: t(".users") %>
